<div class="header-container">
    <div class="header-logo">
        <img src="https://i.ibb.co/dJWmhqmx/logo-png.png" alt="logo-png" border="0">
    </div>

    <div class="navigation-container">
        <nav class="navbar">
        
        <!-- Name of logged in user -->    
            <div class="user-greeting" *ngIf="tokenService.isUserLoggedIn()">
                👋 Hello, <span class="username">{{ tokenService.getLoggedInUserName() | capitalize }}</span>
            </div>
        </nav>
        <!-- Home -->
        <nav> <a href="/">Home</a> </nav>

        <!-- About Author -->
        <nav> <a href="/about">About</a> </nav>

        <!-- My Recipes For Owner and Favourites For Foodie -->
        <div *ngIf="tokenService.isUserLoggedIn()">
            <span *ngIf="tokenService.isOwnerLoggedIn(); else foodie" class="owner-nav">
                <nav> <a href="/owner/add-recipe"> Add Recipe </a> </nav>
                <nav> <a [routerLink]="['/']" fragment="my-recipes"> My Recipes </a> </nav>
            </span>
            <ng-template #foodie>
                <nav> <a [routerLink]="['/']" fragment="favorites"> My Favourites </a> </nav>
            </ng-template>
        </div>
        <!-- Login and Logout -->
        <div *ngIf="tokenService.isUserLoggedIn(); else notLoggedIn">
            <nav> <a href="/" (click)="authService.logout()"> Logout</a> </nav>
        </div>
        <ng-template #notLoggedIn>
            <nav> <a href="/register">Register</a> </nav>
            <nav> <a href="/login">Login</a> </nav>
        </ng-template>

        <!-- Search Recipe -->
        <nav> <a [routerLink]="['/']" fragment="search"><i class="ri-search-line"></i></a> </nav>
    </div>
</div>
<hr>