.footer {
    background-color: #2f2f2f;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-top: 1px solid #e9ecef;
    position: relative;
    bottom: 0;
    left:0;
    height: 10%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.instagram-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    color: #fff;
}

.instagram-link:hover {
    color: #e4405f;
}

.instagram-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}