* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.add-recipe-container {
    width: 80vw;
    height: 85vh;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.8rem;
            font-weight: 600;
            color: #333;
        }
    }
}

hr {
    border: 1px solid #e0e0e0;
    margin: 0.5rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;

    label {
        font-weight: 500;
        color: #444;
    }

    input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: #7e57c2;
            box-shadow: 0 0 0 2px rgba(126, 87, 194, 0.2);
            outline: none;
        }
    }
}

.submit-btn {
    margin-top: 2rem;
    padding: 0.75rem;
    width: 80%;
    background: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background: #5a0eb4;
    transform: scale(1.05);
    transition: all 1s ease-in;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-weight: 500;
    color: #444;
}

p.ingredients, p.tags, p.images {
    margin-top: 0.5rem
}

.chip-form-group {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.step-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.step-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input {
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;

        &:focus {
            border-color: #6a11cb;
            outline: none;
        }
    }

    .remove-btn {
        background: transparent;
        border: none;
        color: #f44336;
        cursor: pointer;
    }
}

.add-step-btn {
    margin: 0.5rem 0;
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: fit-content;
    cursor: pointer;

    &:hover {
        background-color: #5a0eb4;
    }

    mat-icon {
        font-size: 1.1rem;
        margin-top: 6px;
    }
}

.add-step-btn:disabled {
    cursor:not-allowed;
}

.image-group {
  margin-bottom: 1rem;

  input[type='file'] {
    display: block;
    margin-bottom: 0.5rem;
  }

  .preview {
    img {
      max-width: 300px;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

.invalid-chip {
    border: 1px solid #e74c3c !important;
    box-shadow: 0 0 5px rgba(225, 0, 0, 0.2) !important;
}
