/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

app-login , app-register , app-add-recipe {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus,
.password:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Error Message Styling */
.invalid-input {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
  display: inline;
}

input.ng-invalid.ng-touched {
  border-color: #e74c3c !important;
  box-shadow: 0 0 5px rgba(225, 0, 0, 0.2) !important;
}

.image-group {
  margin-bottom: 1rem;

  input[type='file'] {
    display: block;
    margin-bottom: 0.5rem;
  }

  .preview {
    img {
      max-width: 300px;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

hr {
    color: #333;
}

.search-active {
  filter: blur(80px);
  pointer-events: none;
  transition: filter 0.3s ease-in-out;
}