/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus,
.password:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Error Message Styling */
.invalid-input {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
  display: inline;
}

input.ng-invalid.ng-touched {
  border-color: #e74c3c !important;
  box-shadow: 0 0 5px rgba(225, 0, 0, 0.2) !important;
}